div.widget-header a.btn{
    margin:7px 10px 0 0;
}

div.widget-header div.input-append{
    margin-right: 10px
}

input{
    margin-bottom: 0
}

.txtalrt{
    text-align: right !important
}

.marbot0{
    margin-bottom: 0;
}

.marleft0{
    margin-left: 0 !important
}

.marright0{
    margin-right: 0 !important
}

.txtbold{
    font-weight: bolder
}